:root {
    /* Paleta Dark */
    --bg-primary: #121212;     /* Fondo base */
    --bg-surface: #1e1e1e;     /* Cards y secciones */
    --text-main: #e5e7eb;      /* Blanco suave */
    --accent: #93c5fd;         /* Azul desaturado */
    --txt-secundary: #bbb2b2;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

html {
    font-size: 62.5%;
}

body {
  background-color: var(--bg-surface);
  color: var(--text-main);
  font-size: 1.6rem;
  line-height: 1.5;
}

a{
    text-decoration: none;
    color: var(--text-main);
}

.header{
    text-align: center;
}

.header__name{
    font-size: 4rem;
    margin: 3rem 0;
}

.header__tagline{
    color:#bbb2b2;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.nav__list{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    background-color: var(--bg-primary);
    height: 5rem;
    gap: 6rem;
    margin-bottom: 15rem;
}

.nav__item{
    list-style: none;
}

.nav__link:hover{
    color: #bbb2b2;
}

.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero__title{
    font-size: 6rem;
    text-align: center;
    margin: 3rem 0;
}

.hero__subtitle{
    text-align: center;
    margin-bottom: 2rem;
    color:#bbb2b2;
    font-size: 3rem;
}

.hero__description{
    text-align: center;
    margin-bottom: 1.5rem;
}

.hero__actions{
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin-bottom: 10rem;
}

.button{
    font-size: 1.8rem;
    background-color: #121212;
    padding: 1.2rem;
    border-radius: 12px;
    transition: 0.3s ease-in-out;
}

.button:hover{
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
    color: var(--txt-secundary);
}

.hero__stats{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    color: var(--txt-secundary);
    font-size: 2.5rem;
    margin-bottom: 5rem;
}

.stat{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about{
    border-top: 0.1rem solid var(--txt-secundary);
    margin-bottom: 5rem;
}

.about__container{
    width: 80vw;
    height: auto;
    padding: 1.2rem;
    margin: 3rem auto;
    border: 0.1rem solid var(--txt-secundary);
    border-radius: 16px;
    box-shadow: 5px 5px 15px 5px #000000;

}

.about__title{
    font-size: 2.4rem;
    text-align: center;
    margin-bottom: 2rem;
}

.about__intro{
    text-align: center;
    font-size: 1.8rem;
    font-style: oblique;
    margin-bottom: 1.5rem;
}

.about__text{
    display: flex;
    justify-self: center;
    text-align: center;
    width: 60rem;
    margin-bottom: 1.5rem;
}

.quote{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    line-height: 1.2;
    margin-bottom: 3rem;
}

.quote__author{
    align-self: flex-end;
    font-weight: bold;
    font-size: 1.4rem;
    text-align: right;
}

.values{
    border-left: 3px solid var(--accent);
    display: flex;
    flex-direction: column;
    padding: 12px;
    border-radius: 20px;
}

.values__title{
    font-size: 2.8rem;
    text-align: center;
}

.values__list{
    list-style: none;
    font-size: 2rem;
}

.projects{
    width: 90%;
    margin: 50px auto;
}

.projects__container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.projects__title{
    font-size: 3rem;
    padding: 12px;
}

.projects__description{
    text-indent: 1.5rem;
    font-size: 1.8rem;
}

.projects__grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    justify-content: center;
}

.project{
    border: 1px solid var(--txt-secundary);
    padding: 12px;
    border-radius: 24px;
}

.project__title{
    text-align: center;
    font-size: 2.4rem;
}

.project__description{
    text-indent: 15px;
    text-align: justify;
    margin-bottom: 20px;
}

.project__subtitle{
    font-style: italic;
}

.project__learnings{
    list-style: none;
    margin-left: 8px;
}

.project__links{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.project__link{
    background-color: #000000;
    padding: 12px;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
}

.project__link:hover{
    transform: translateY(-8px);
    color: var(--txt-secundary);
    box-shadow: 5px 5px 15px 5px #000000;
}

.project__badge{
    color: var(--txt-secundary);
    text-transform: uppercase;
}

.skills{
    border-top: 1px solid var(--txt-secundary);
}

.skills__container{
    width: 90%;
    margin: 50px auto;
    border: 1px solid var(--txt-secundary);
    padding: 20px;
    border-radius: 20px;
}

.skills__title{
    font-size: 3rem;
    text-align: center;
    margin-bottom: 12px;
}

.skills__subtitle{
    font-style: italic;
    font-size: 2.2rem;
}

.skills__list{
    display: flex;
    justify-content: space-around;
}

.skill__bar{
    margin: 8px 0;
    background-color: var(--bg-primary);
    width: 150px;
    height: auto;
    border-radius: 20px;
    border: 1px solid var(--txt-secundary);
}

.skill__progress{
    position: relative;
    height: auto;
    width: 120px;
    border-radius: 20px;
    padding-left: 8px;
    overflow: hidden;
}

.skill__progress--html{
    background-color: #883F1A;
    width: 90%;
    color: var(--bg-primary);
}

.skill__progress--css{
    background-color: #7E57C2;
    width: 70%;
    color: var(--bg-primary);
}

.skill__progress--js{
    background-color: #FFE008;
    width: 40%;
    color: var(--bg-primary);
}

.learning__title{
    font-style: italic;
    font-size: 2.2rem;
}

.learning__list{
    text-align: center;
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.contact__container{
    width: 90%;
    margin: 0 auto;
    display: grid;

}

.contact__title{
    font-size: 3rem;
    text-align: center;
    margin-bottom: 12px;
}

.contact__methods{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 24px 0;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.contact__methods:hover , .contact__methods a:hover{
    color: #bbb2b2;
    transform: translateY(-12px);
}

.footer{
    background-color: var(--bg-primary);
}

.footer__container{
    display: flex;
    justify-content: space-around;
}


@keyframes fillBar {
  to {
    transform: scaleX(0.9); /* equivale a 90% */
  }
}
